{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% if formatter == 'bootstrap_gallery_image_formatter' %}

  {{ attach_library('bootstrap_gallery_if/blueimp-gallery') }}
  {%
    set classes = [
      'blueimp-gallery',
      'blueimp-gallery-controls',
    ]
  %}
  <div id="blueimp-gallery" {{ attributes.addClass(classes) }} data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    {% if carousel == 0 %}
      <a class="close">×</a>
    {% endif %}
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- Bootstrap modal from Bootstrap theme -->
    {{ modal }}
  </div>
  <div id="links">
{% endif %}

{% if gallery_style == 'dp-inline-gallery--large-left' or gallery_style == 'dp-inline-gallery--large-right' %}

  <div class="dp-inline-gallery__large-primary clearfix">
    {% for image in images|slice(0, 1) %}
      <div class="dp-inline-gallery__image">
        {{ image.content }}
      </div>
    {% endfor %}
  </div>

  <div class="dp-inline-gallery__large-secondary clearfix">
    {% for image in images|slice(1, 4) %}
      <div class="dp-inline-gallery__image">
        {{ image.content }}
      </div>
    {% endfor %}
  </div>

  <div class="dp-inline-gallery__large-tertiary clearfix">
    {% for image in images|slice(5) %}
      <div class="dp-inline-gallery__image">
        {{ image.content }}
      </div>
    {% endfor %}
  </div>

{% else %}

  {% for image in images %}
    <div class="dp-inline-gallery__image">
      {{ image.content }}
    </div>
  {% endfor %}

{% endif %}

{% if formatter == 'bootstrap_gallery_image_formatter' %}
  </div>
{% endif %}